.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/raw/*
data/external/*
data/processed/*
!data/raw/.gitkeep
!data/external/.gitkeep
!data/processed/.gitkeep
!data/README.md

models/*
!models/README.md

*.log
*.mp4
*.avi
*.zip
