.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.viewer-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.viewer-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .app-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100dvh;
  }

  .viewer-container {
    position: relative;
    width: 100%;
    min-height: 62vh;
    height: 62vh;
  }
}

